.avatar {
  padding: 36rem 0 33rem;

  background: url(../images/avatar/avatar-bg.png) no-repeat;
  background-size: cover;

  @include breakpoint($xl-bp) {
    padding: 20rem 0;
  }
  @include breakpoint($lg-bp) {
    padding: 10rem 0;

    background-position: right -23rem center;
  }
  @include breakpoint($sm-bp) {
    padding: 7rem 0;
  }
}

.avatar__inner {
  display: flex;

  @include breakpoint($lg-bp) {
    flex-direction: column-reverse;
  }
}

.avatar-slider {
  position: relative;

  width: 100%;
  max-width: 86.6rem;

  margin-right: 5rem;

  @include breakpoint($xl-bp) {
    margin-right: 1rem;
  }

  @include breakpoint($sm-bp) {
    margin-right: 0;
  }

  .swiper-wrapper {
    width: 100%;
    max-width: 56.8rem;

    margin: 0 auto;

    @include breakpoint($sm-bp) {
      max-width: 25rem;
    }
  }

  .swiper-slide:not(.swiper-slide-active) {
    opacity: 0 !important;
  }
  .swiper-slide.swiper-slide-active {
    opacity: 1 !important;
  }
}

.avatar-slider__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 56.8rem;

  @include breakpoint($sm-bp) {
    max-width: 25rem;
  }

  img {
    width: 100%;
    max-width: 40rem;
    height: auto;

    object-fit: cover;

    margin-bottom: 2rem;
  }
}

.avatar-slider__item-name {
  font-weight: 700;
  font-size: 3rem;
  line-height: 111.01%;
  text-align: center;
  color: #ffb400;

  margin-bottom: 0.8rem;

  @include breakpoint($sm-bp) {
    font-size: 2rem;
  }
}

.avatar-slider__item-descr {
  width: 100%;
  max-width: 35rem;

  font-size: 1.8rem;
  text-align: center;

  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.4rem);
  }
}

.avatar-slider__nav {
  position: absolute;
  top: 40%;
  z-index: 1;
  transform: translateY(-50%);

  width: 100%;

  @include breakpoint($sm-bp) {
    top: 46%;
  }

  svg {
    width: 2.5rem;
    height: 5rem;

    fill: none;
    stroke: white;
    stroke-width: 2.75px;

    @include breakpoint($sm-bp) {
      width: 1.2rem;
      height: 2.5rem;

      stroke-width: 2px;
    }
  }
}

.avatar-content {
  width: 100%;
  max-width: 86.5rem;

  margin-top: 5rem;

  @include breakpoint($lg-bp) {
    margin-bottom: 6rem;
  }
}

.avatar-content__heading {
  margin-bottom: 6rem;

  @include breakpoint($xl-bp) {
    font-size: 4.8rem;

    margin-bottom: 8rem;
  }
  @include breakpoint($lg-bp) {
    font-size: 3.6rem;

    margin-bottom: 4rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 2rem;

    margin-bottom: 2.5rem;
  }
}

.avatar-content__descr {
  font-size: max(12px, 2.2rem);

  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.2rem);
  }
}
