.choose {
  padding: 11.5rem 0 13.5rem;

  background: url(../images/choose/choose-bg.png) no-repeat;
  background-size: cover;

  @include breakpoint($lg-bp) {
    padding: 8rem 0;
  }

  @include breakpoint($sm-bp) {
    padding: 5rem 0;
  }
}

.choose__header {
  margin-left: 18rem;
  margin-bottom: 7.5rem;

  @include breakpoint($lg-bp) {
    margin-left: 0;
  }
  @include breakpoint($sm-bp) {
    margin-bottom: 5rem;
  }
}

.choose__heading {
  margin-bottom: 4.4rem;

  @include breakpoint($sm-bp) {
    font-size: 2.8rem;

    margin-bottom: 2.5rem;
  }
}

.choose-descr {
  width: 100%;
  max-width: 84.3rem;

  font-size: 2.6rem;

  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.4rem);
  }
}

.choose-slider {
  position: relative;

  .swiper-wrapper {
    margin-left: 14rem;

    @include breakpoint($lg-bp) {
      margin-left: 0;
    }
  }
}

.choose-item {
  display: grid;
  grid-template-areas:
    "ciimage ciheader"
    "ciimage ciinfo";

  align-items: flex-start;
  grid-template-columns: 92.5rem 45rem;
  gap: 10rem 12rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: 60rem 45rem;
    gap: 5rem;
  }
  @include breakpoint($lg-bp) {
    grid-template-areas:
      "ciheader"
      "ciimage"
      "ciinfo";
    grid-template-columns: 1fr;
  }
}

.choose-item__img-wrapper {
  grid-area: ciimage;

  box-sizing: border-box;

  border: 0.2rem solid #ffffff;

  padding: 3rem;

  width: 100%;

  @include breakpoint($sm-bp) {
    padding: 1rem;
  }

  .choose-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ci-data__header {
  grid-area: ciheader;
}

.ci-data__name {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 111.01%;
  color: $primary;

  margin-bottom: 2.7rem;

  @include breakpoint($lg-bp) {
    text-align: center;
  }

  @include breakpoint($sm-bp) {
    font-size: 2.2rem;

    margin-bottom: 4rem;
  }
}

.ci-data__info {
  grid-area: ciinfo;
}

.ci-data__info-item + .ci-data__info-item {
  margin-top: 3.5rem;

  @include breakpoint($sm-bp) {
    margin-top: 3rem;
  }
}

.ci-data__item-header {
  display: flex;
  align-items: center;

  margin-bottom: 2.5rem;

  @include breakpoint($sm-bp) {
    margin-bottom: 2rem;
  }
}

.ci-data__descr {
  font-size: max(12px, 2rem);

  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.2rem);
  }
}

.ci-data__item-prop {
  font-weight: 700;
  line-height: 1.11;
  margin-right: 0.6rem;
}
.ci-data__item-value {
  font-weight: 700;
  line-height: 1.11;
  color: $primary;
}

.ci-data__item-progress {
  width: 42rem;
  height: 0.4rem;

  border-radius: 2.3rem;

  background-color: #c4c4c4;

  @include breakpoint($lg-bp) {
    width: 100%;
  }

  @include breakpoint($sm-bp) {
    height: 0.3rem;
  }

  & .filled_bar {
    position: relative;

    width: 0;
    height: 100%;

    background: $primary;
    border-radius: 2.3rem;

    transition: all 0.8s linear 0.5s;

    &::after {
      content: "";
      position: absolute;
      top: -1.3rem;
      right: -1rem;
      z-index: 1;

      width: 2rem;
      height: 3rem;

      background: url(../images/icons/romb-icon.png) no-repeat;
      background-size: cover;

      @include breakpoint($sm-bp) {
        width: 1.6rem;
        height: 2.4rem;

        top: -1rem;
        right: -0.8rem;
      }
    }
  }
}

.choose-slider__nav {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);

  width: 100%;

  @include breakpoint($lg-bp) {
    top: 0;
  }

  svg {
    width: 2.5rem;
    height: 5rem;

    fill: none;
    stroke: white;
    stroke-width: 2.75px;

    @include breakpoint($sm-bp) {
      width: 1.3rem;
      height: 2.7rem;

      stroke-width: 2px;
    }
  }
}

.choose-item.swiper-slide-active .choose-item__img-wrapper {
  animation: fadeInRight 1s both;
}

.choose-item.swiper-slide-active .choose-item__data {
  animation: fadeInLeft 1s both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(-60%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(60%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
