.faq {
  padding: 9rem 0 10rem;

  @include breakpoint($sm-bp) {
    padding: 5rem 0;
  }
}

.faq__header {
  width: 100%;
  max-width: 107.5rem;

  margin: 0 auto 12rem;

  @include breakpoint($sm-bp) {
    margin-bottom: 4.5rem;
  }
}

.faq-heading {
  text-align: center;

  margin-bottom: 5rem;

  @include breakpoint($sm-bp) {
    font-size: 2.4rem;

    margin-bottom: 2.5rem;
  }
}

.faq-subheding {
  text-align: center;
  font-size: 2.6rem;

  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.4rem);
  }
}

.faq-item {
  padding: 1.3rem 2.6rem;

  background: linear-gradient(90deg, #f98029 0%, rgba(255, 196, 0, 0.3) 100%);
  border-radius: 1rem;

  @include breakpoint($sm-bp) {
    padding: 1rem;
  }

  & + & {
    margin-top: 2.5rem;

    @include breakpoint($sm-bp) {
      margin-top: 1.5rem;
    }
  }
}

.faq-item__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-weight: 500;
  font-size: 2.6rem;
  cursor: pointer;

  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.2rem);
  }

  svg {
    width: 6rem;
    height: 6rem;

    stroke: white;

    @include breakpoint($lg-bp) {
      width: 4rem;
      height: 4rem;
    }
    @include breakpoint($sm-bp) {
      width: 2rem;
      height: 2rem;
    }
  }

  &.active {
    svg {
      transform: rotate(-45deg);
    }
  }
}

.faq-item__text-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s linear;
}

.faq-item__text {
  padding-top: 3rem;
  font-size: max(12px, 2rem);

  @include breakpoint($sm-bp) {
    padding-top: 1rem;

    font-size: max(12px, 1.2rem);
  }
}
