.hollow-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  background: transparent;
  border: 0.2rem solid #f08200;
  border-radius: 5.4rem;

  transition: all 0.1s linear;

  &:hover {
    color: white;

    background-color: #f08200;
  }
}

