.howWorks {
  padding: 18rem 0;

  background: url(../images/howWorks/howWorks-bg.png) no-repeat;
  background-size: cover;

  @include breakpoint($xl-bp) {
    padding: 18rem 0 5rem;
  }

  .section-heading {
    text-align: center;
    font-size: 7.2rem;

    margin-bottom: 11rem;

    @include breakpoint($lg-bp) {
      font-size: 6rem;
    }

    @include breakpoint($sm-bp) {
      font-size: 3rem;

      margin-bottom: 5rem;
    }
  }

  @include breakpoint($lg-bp) {
    padding: 10rem 0;
  }

  @include breakpoint($sm-bp) {
    padding: 5rem 0 0;
  }
}

.howWorks-item {
  display: flex;
  align-items: center;

  @include breakpoint($xl-bp) {
    flex-direction: column;
  }
}

.howWorks-item__num {
  font-family: "Russo One";
  font-weight: 400;
  font-size: 4.2rem;
  line-height: 1.2;

  color: $primary;

  margin-bottom: 3rem;

  @include breakpoint($sm-bp) {
    font-size: 1.8rem;

    margin-bottom: 1rem;
  }
}

.howWorks-item__heding {
  font-weight: 600;
  font-size: 5.2rem;
  line-height: 1.11;
  color: white;

  margin-bottom: 6rem;

  @include breakpoint($lg-bp) {
    font-size: 4rem;
  }

  @include breakpoint($sm-bp) {
    font-size: 2rem;

    margin-bottom: 4rem;
  }
}

.howWorks-item__descr {
  width: 100%;
  max-width: 66rem;

  @include breakpoint($xl-bp) {
    max-width: unset;
  }
  @include breakpoint($sm-bp) {
    margin-bottom: 2rem;
  }

  li {
    position: relative;

    font-weight: 300;
    font-size: max(12px, 2rem);
    color: white;

    padding-left: 4.4rem;

    @include breakpoint($sm-bp) {
      font-size: max(12px, 1.2rem);

      padding-left: 2.4rem;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.8rem;
      z-index: 1;

      width: 1.2rem;
      height: 1.2rem;

      border: 2px solid #850200;
      border-radius: 50%;

      @include breakpoint($sm-bp) {
        width: 0.6rem;
        height: 0.6rem;
      }
    }
  }

  li + li {
    margin-top: 4rem;

    @include breakpoint($sm-bp) {
      margin-top: 2rem;
    }
  }
}

.hwi-first {
  position: relative;

  margin-left: 15rem;
  margin-bottom: 20rem;

  @include breakpoint($xl-bp) {
    margin-left: 0;
    margin-bottom: 0;
  }

  .howWorks-item__heding {
    width: 100%;
    max-width: 88rem;

    @include breakpoint($xl-bp) {
      max-width: unset;
    }
  }

  .howWorks-item__descr {
    @include breakpoint($sm-bp) {
      margin-bottom: 0;
    }
  }

  .howWorks-item__img {
    position: absolute;
    right: 0;
    top: 0;

    width: 100%;
    max-width: 94.6rem;

    @include breakpoint($xl-bp) {
      position: static;
    }
  }
}

.hwi-second {
  margin-bottom: 8rem;

  @include breakpoint($xl-bp) {
    flex-direction: column-reverse;
  }

  @include breakpoint($lg-bp) {
    margin-bottom: 5rem;
  }
  @include breakpoint($sm-bp) {
    margin-bottom: 3rem;
  }

  .howWorks-item__content {
    width: 100%;
    max-width: 66rem;

    @include breakpoint($xl-bp) {
      max-width: unset;
    }
  }

  .howWorks-item__img {
    width: 100%;
    max-width: 107.7rem;
  }
}

.hwi-third {
  margin-left: 15rem;
  margin-bottom: 9rem;

  @include breakpoint($xl-bp) {
    margin-left: 0;
  }

  @include breakpoint($lg-bp) {
    margin-bottom: 5rem;
  }
  @include breakpoint($sm-bp) {
    margin-bottom: 3rem;
  }

  .howWorks-item__content {
    width: 100%;
    max-width: 88.3rem;

    @include breakpoint($xl-bp) {
      max-width: unset;
    }
  }

  .howWorks-item__heding {
    width: 100%;
    max-width: 65.2rem;

    @include breakpoint($xl-bp) {
      max-width: unset;
    }
  }

  .howWorks-item__img {
    width: 100%;
    max-width: 107.7rem;
  }
}

.hwi-fourth {
  margin-bottom: 20rem;

  @include breakpoint($xl-bp) {
    flex-direction: column-reverse;

    margin-bottom: 10rem;
  }

  @include breakpoint($lg-bp) {
    margin-bottom: 5rem;
  }
  @include breakpoint($sm-bp) {
    margin-bottom: 3rem;
  }

  .howWorks-item__heding {
    width: 100%;
    max-width: 73.4rem;

    @include breakpoint($xl-bp) {
      max-width: unset;
    }
  }

  .howWorks-item__img {
    width: 100%;
    max-width: 103.8rem;
  }
}

.hwi-fifth {
  margin-left: 15rem;

  @include breakpoint($xl-bp) {
    margin-left: 0;
  }

  .howWorks-item__heding {
    width: 100%;
    max-width: 73.4rem;

    @include breakpoint($xl-bp) {
      max-width: unset;
    }
  }

  .howWorks-item__img {
    width: 100%;
    max-width: 82.5rem;
  }
}
