.intro {
  position: relative;
  overflow: hidden;

  display: flex;

  height: 100vh;

  // background: url(../images/intro/intro-bg.png) no-repeat;
  // background-size: cover;

  @include breakpoint($lg-bp) {
    height: auto;
    padding-top: 10rem;
  }

  @include breakpoint($sm-bp) {
    background-position: right bottom;

    padding-top: 5rem;
  }
}

.intro .video-bg {
  position: absolute;
  top: 0;
  left: 14rem;
  z-index: 1;
  width: 100%;
  height: 100vh;
  object-fit: cover;

  @include breakpoint($xl-bp) {
    left: 30rem;
  }
  @include breakpoint($lg-bp) {
    display: none;
  }
}

.intro .video-bg_sm {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  object-fit: cover;

  display: none;

  @include breakpoint($lg-bp) {
    display: block;
  }
}

.intro__inner {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;

  @include breakpoint($lg-bp) {
    height: auto;
  }
}

.intro__content {
  width: 100%;
  max-width: 108rem;
  z-index: 6;

  margin-top: 12rem;
}

.intro__title {
  font-family: "Russo One";
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 2.4rem;

  @include breakpoint($lg-bp) {
    font-size: 4rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 3.2rem;

    margin-bottom: 1.2rem;
  }
}

.intro__subtitle {
  width: 100%;
  max-width: 74.7rem;

  font-family: "Montserrat";
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 130%;
  color: #d9d9d9;

  margin-bottom: 4.4rem;

  @include breakpoint($lg-bp) {
    font-size: 3rem;
  }
  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.2rem);
    font-weight: 300;

    margin-bottom: 2.6rem;
  }
}

.intro__btn {
  width: 100%;
  max-width: 66.4rem;
  height: 8rem;

  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.02em;

  @include breakpoint($lg-bp) {
    max-width: 22rem;
    height: 8rem;

    font-size: 2.6rem;
  }

  @include breakpoint($sm-bp) {
    max-width: 10.6rem;
    height: 3.7rem;

    font-size: 1.2rem;
  }
}

.intro-fighters__model {
  width: 100%;
  max-width: 44.1rem;

  position: absolute;
  left: 45%;
  bottom: 0;
  z-index: 5;

  @include breakpoint($lg-bp) {
    bottom: 0;

    max-width: 30rem;
    left: 20rem;
  }

  @include breakpoint($sm-bp) {
    max-width: 17.5rem;
    left: 3rem;
  }
}

.intro-fighters__human {
  width: 100%;
  max-width: 83.4rem;

  position: absolute;
  right: 0;
  bottom: -10rem;
  z-index: 4;

  @include breakpoint($lg-bp) {
    position: relative;
    bottom: 0;

    max-width: 66rem;
    right: -15rem;
  }

  @include breakpoint($sm-bp) {
    max-width: 36.8rem;

    right: -5rem;
  }
}

.intro-apps {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  margin-top: 24rem;
}

.intro-apps__item {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 22rem;
  height: 6.4rem;

  color: $primary;
  font-weight: 500;
  font-size: 2.2rem;

  &:hover {
    .intro-apps__item-icon {
      fill: white;
    }
  }
}

.intro-apps__item-icon {
  width: 3.2rem;
  height: 3.2rem;

  fill: $primary;

  margin-right: 1.3rem;
}
