.launching-timer {
  padding: 11rem 0 13.5rem;

  background: url(../images/launch-timer/launch-timer-bg.png) no-repeat;
  background-size: cover;

  @include breakpoint($lg-bp) {
    padding: 8rem 0;
  }
  @include breakpoint($sm-bp) {
    padding: 5rem 0;

    background-position: left -15rem center;
  }
}

.launching-timer__heading {
  font-family: "Russo One";
  font-weight: 400;
  font-size: 5.2rem;
  color: #ffb400;
  text-align: center;

  margin-bottom: 12rem;

  @include breakpoint($lg-bp) {
    font-size: 4.6rem;

    margin-bottom: 8rem;
  }
  @include breakpoint($sm-bp) {
    font-size: 2.4rem;

    margin-bottom: 4rem;
  }
}

.launching-timer__content {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 12rem;

  @include breakpoint($sm-bp) {
    margin-bottom: 5rem;
  }
}

.launching-timer__content-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  & + & {
    margin-left: 4rem;

    @include breakpoint($lg-bp) {
      margin-left: 2rem;
    }

    @include breakpoint($sm-bp) {
      margin-left: 1.4rem;
    }
  }

  &:not(:last-child) {
    .lt-item__num::after {
      content: ":";
      font-size: 15rem;
      font-weight: 700;

      padding-left: 6.5rem;

      @include breakpoint($lg-bp) {
        font-size: 9rem;
        padding-left: 2rem;
      }

      @include breakpoint($sm-bp) {
        font-size: 4.8rem;

        padding-left: 1.4rem;
      }
    }

    .lt-item__prop {
      margin-right: 7.5rem;

      @include breakpoint($lg-bp) {
        margin-right: 4rem;
      }

      @include breakpoint($sm-bp) {
        margin-right: 1rem;
      }
    }
  }
}

.lt-item__num {
  position: relative;

  display: flex;
  align-items: center;

  width: 22.5rem;

  font-weight: 700;
  font-size: 15rem;
  line-height: 1.11;

  margin-left: 5rem;
  margin-bottom: 4rem;

  @include breakpoint($lg-bp) {
    width: 15.5rem;

    font-size: 11rem;

    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  @include breakpoint($sm-bp) {
    width: 6.5rem;

    font-size: 4.8rem;

    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.lt-item__prop {
  font-size: 2.4rem;
  text-transform: uppercase;

  @include breakpoint($sm-bp) {
    font-size: max(10px, 1rem);
  }
}

.launching-timer__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 60rem;

  margin: 0 auto;

  @include breakpoint($sm-bp) {
    max-width: 30.5rem;
  }
}

.launching-timer__link {
  width: 100%;
  max-width: 27rem;
  height: 7.2rem;

  @include breakpoint($sm-bp) {
    max-width: 15rem;
    height: 4.5rem;

    font-size: max(12px, 1.2rem);
  }
}
