.price {
  padding: 10rem 0;

  background-color: #141415;

  @include breakpoint($sm-bp) {
    padding: 5rem 0;
  }
}

.price__header {
  width: 100%;
  max-width: 105rem;

  margin: 0 auto 10rem;

  @include breakpoint($sm-bp) {
    margin-bottom: 6rem;
  }
}

.price-heading {
  text-align: center;

  margin-bottom: 7rem;

  @include breakpoint($sm-bp) {
    font-size: 2.4rem;

    margin-bottom: 2rem;
  }
}

.price__header-descr {
  font-size: 2.6rem;
  text-align: center;

  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.2rem);
  }
}

.price-tokens {
  display: flex;
  justify-content: center;

  margin-bottom: 10rem;

  @include breakpoint($lg-bp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  @include breakpoint($sm-bp) {
    grid-template-columns: 1fr;

    margin-bottom: 5rem;
  }
}

.price-tokens__item {
  width: 100%;
  max-width: 22.4rem;

  padding: 2rem;
  border: 0.1rem solid #ffffff;

  @include breakpoint($lg-bp) {
    max-width: 40rem;

    margin: 0 auto;
  }

  p {
    font-size: 2.6rem;

    @include breakpoint($sm-bp) {
      font-weight: 700;
      font-size: 1.8rem;
    }
  }

  p + p {
    margin-top: 2rem;
  }

  &:not(:first-child) {
    border-left: none;

    @include breakpoint($lg-bp) {
      border-left: 0.1rem solid #ffffff;
    }

    @include breakpoint($sm-bp) {
      border-top: none;
    }
  }
}

.price-content {
  display: flex;
  align-items: center;

  @include breakpoint($xl-bp) {
    flex-direction: column;
  }
}

.price-cards {
  display: flex;
  align-items: center;

  margin-right: 6rem;

  @include breakpoint($xl-bp) {
    margin-right: 0;
    margin-bottom: 5rem;
  }

  @include breakpoint($lg-bp) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  @include breakpoint($sm-bp) {
    gap: 2rem;
  }
}

.price-cards__item-header {
  display: flex;
  align-items: center;

  margin-bottom: 6rem;

  @include breakpoint($sm-bp) {
    margin-bottom: 3rem;
  }
}

.price-cards__item {
  border: 0.2rem solid #ff8a00;
}

.price-cards__item-name {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.11;
  text-transform: uppercase;
  color: white;

  margin-right: 3rem;

  @include breakpoint($sm-bp) {
    font-size: 1.6rem;
  }
}

.price-cards__item-price {
  font-weight: 500;
  font-size: 4rem;
  color: #ffc400;

  padding-left: 3rem;

  border-left: 0.1rem solid #ffc400;

  @include breakpoint($sm-bp) {
    font-size: 3rem;
  }
}

.price-cards__item-descr {
  width: 100%;
  max-width: 15rem;

  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;

  margin: 0 auto;
}

.price-cards__item {
  width: 100%;
  max-width: 43rem;

  padding: 6rem 5rem;

  @include breakpoint($xl-bp) {
    padding: 4rem;
  }

  & + & {
    margin-left: 4rem;

    @include breakpoint($lg-bp) {
      margin-left: 0;
    }
  }
}

.price-content__info {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 33.6rem;
  min-height: 28rem;

  @include breakpoint($xl-bp) {
    flex-direction: row;
    align-items: center;

    max-width: 100rem;
    min-height: unset;
  }
  @include breakpoint($lg-bp) {
    flex-direction: column;
  }

  p {
    font-size: 2.4rem;

    @include breakpoint($sm-bp) {
      font-size: 1.6rem;
    }
  }

  p + p {
    margin-top: 2rem;

    @include breakpoint($xl-bp) {
      margin-top: 0;
      margin-left: 3rem;
    }
    @include breakpoint($sm-bp) {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}

.price-content__info-link {
  width: 100%;
  max-width: 26.9rem;
  height: 7.2rem;

  font-weight: 500;
  font-size: 2.2rem;

  margin-top: auto;

  @include breakpoint($xl-bp) {
    margin-top: unset;
    margin-left: auto;
  }
  @include breakpoint($lg-bp) {
    margin-left: unset;
    margin-top: 3rem;
  }
  @include breakpoint($sm-bp) {
    margin-top: 2rem;

    max-width: 15rem;
    height: 4.4rem;

    font-size: max(12px, 1.2rem);

    color: $primary;

    .filled-btn_bg {
      fill: transparent;
      stroke: $primary;
    }

    &:hover {
      color: white;

      .filled-btn_bg {
        fill: $primary;
      }
    }
  }
}
