.roadmap {
  padding: 9rem 0 27rem;

  background: #141415 url(../images/roadmap/roadmap-bg.png) no-repeat;
  background-position: bottom;
  background-size: contain;

  @include breakpoint($lg-bp) {
    padding: 9rem 0;
  }

  @include breakpoint($sm-bp) {
    padding: 5rem 0;

    background-size: cover;
    background-position: left -41rem bottom 1rem;
  }
}

.roadmap__inner {
  position: relative;
}

.roadmap-header {
  width: 100%;
  max-width: 71.6rem;

  margin-bottom: 10rem;

  @include breakpoint($sm-bp) {
    max-width: 33.5rem;

    margin-bottom: 5rem;
  }
}

.roadmap-heading {
  margin-bottom: 6rem;

  @include breakpoint($sm-bp) {
    font-size: 2.4rem;
    text-align: center;

    margin-bottom: 2.5rem;
  }
}

.roadmap-subheading {
  font-size: 2.6rem;

  @include breakpoint($sm-bp) {
    text-align: center;
    font-size: max(12px, 1.4rem);
  }
}

.roadmap-item {
  display: flex;
  align-items: flex-start;

  position: relative;

  &:not(:last-child):before {
    content: "";
    position: absolute;
    left: 5.65rem;
    top: 0;
    z-index: 4;

    height: 100%;
    width: 0.3rem;

    background-color: #9df656;

    @include breakpoint($sm-bp) {
      left: 2.5rem;
    }
  }

  &:nth-last-child(2)::before {
    height: 26rem;
    top: 0;
    z-index: 3;
    background-color: #9df656;

    @include breakpoint($sm-bp) {
      height: 10rem;
    }
  }
  &:first-child:before {
    top: 0;
    z-index: 2;
    background-color: #9df656;
  }
  &:nth-last-child(2)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5.65rem;
    z-index: 2;

    height: 100%;
    width: 0.3rem;

    background-color: #eebf26;

    @include breakpoint($sm-bp) {
      left: 2.5rem;
    }
  }

  &:last-child:before {
    content: "";
    position: absolute;
    left: 5.65rem;
    top: 0rem;

    height: 26rem;
    width: 0.3rem;

    background-color: #eebf26;

    @include breakpoint($lg-bp) {
      height: 15rem;
    }

    @include breakpoint($sm-bp) {
      left: 2.5rem;
      height: 10rem;
    }
  }

  & + & {
    padding-top: 26rem;

    @include breakpoint($lg-bp) {
      padding-top: 15rem;
    }
    @include breakpoint($sm-bp) {
      padding-top: 6.5rem;
    }
  }

  &.done {
    .roadmap-item__point {
      background-color: #9df656;

      svg {
        width: 6.3rem;
        height: 6.4rem;

        @include breakpoint($sm-bp) {
          width: 2.6rem;
          height: 2.6rem;
        }
      }
    }

    .roadmap-item__date::after {
      content: "Done ✓";
      position: absolute;
      top: 0.7rem;
      right: -8rem;

      font-family: Ubuntu, sans-serif;
      font-weight: 300;
      font-size: 1.6rem;
      color: #44c761;

      @include breakpoint($sm-bp) {
        top: 0.1rem;
        right: -5rem;

        font-size: max(10px, 1rem);
      }
    }
  }
  &.inprogress {
    .roadmap-item__point {
      background-color: #eebf26;

      svg {
        width: 5.5rem;
        height: 5.5rem;

        @include breakpoint($sm-bp) {
          width: 2.6rem;
          height: 2.6rem;
        }
      }
    }

    .roadmap-item__date::after {
      content: "In progress ●";
      position: absolute;
      top: 0.7rem;
      right: -12rem;

      font-family: Ubuntu, sans-serif;
      font-weight: 300;
      font-size: 1.6rem;
      color: #eebf26;

      @include breakpoint($sm-bp) {
        top: 0.1rem;
        right: -7rem;

        font-size: max(10px, 1rem);
      }
    }
  }
}

.roadmap-item__point-wrapper {
  width: 11.3rem;
  z-index: 5;

  padding: 1.8rem 0;
  margin-right: 7.4rem;

  background: #141415;
  border-radius: 50%;

  @include breakpoint($sm-bp) {
    max-width: 5.3rem;

    padding: 1rem 0;
    margin-right: 2.3rem;
  }
}

.roadmap-item__point {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 11.3rem;
  height: 11.3rem;

  border-radius: 50%;

  @include breakpoint($sm-bp) {
    width: 5.3rem;
    height: 5.3rem;
  }

  svg {
    fill: none;
    stroke: white;
  }
}

.roadmap-item__content {
  position: relative;

  width: 100%;
  max-width: 52.5rem;

  color: #000;

  padding: 3.8rem 3rem 5rem 3.6rem;

  background: #eeeeee;
  border-radius: 2rem;

  @include breakpoint($sm-bp) {
    padding: 1.8rem 1.4rem 2.4rem 2.8rem;

    border-radius: 1rem;
  }
}

.roadmap-item__date {
  position: relative;

  width: max-content;

  font-weight: 700;
  font-size: 3rem;
  line-height: 1.11;

  margin-bottom: 2.8rem;

  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.4rem);

    margin-bottom: 1.3rem;
  }
}

.roadmap-item__name {
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 1.11;

  margin-bottom: 4rem;

  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.2rem);

    margin-bottom: 1.8rem;
  }
}

.roadmap-item__descr {
  font-size: max(12px, 1.8rem);

  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.2rem);
  }
}

.roadmap-item__triangle {
  position: absolute;
  top: 5.65rem;
  left: -2.4rem;

  width: 0;
  height: 0;
  border-top: 2rem solid transparent;
  border-right: 2.5rem solid #eeeeee;
  border-bottom: 2rem solid transparent;

  @include breakpoint($sm-bp) {
    top: 2.25rem;
    left: -1.8rem;
    border-top: 1.5rem solid transparent;
    border-right: 2rem solid #eeeeee;
    border-bottom: 1.5rem solid transparent;
  }
}
