.tournaments {
  padding: 22rem 5rem;

  background: #141415;

  @include breakpoint($xl-bp) {
    padding: 15rem 0;
  }
  @include breakpoint($lg-bp) {
    padding: 15rem 0 5rem;
  }
  @include breakpoint($sm-bp) {
    padding: 3rem 0;
  }
}

.tournaments__heading {
  margin-bottom: 12.3rem;

  @include breakpoint($xl-bp) {
    margin-bottom: 5rem;
  }

  @include breakpoint($lg-bp) {
    font-size: 4.4rem;
  }

  @include breakpoint($sm-bp) {
    font-size: 2.4rem;

    margin-bottom: 2.5rem;
  }
}

.tournaments__inner {
  display: flex;
  align-items: center;

  @include breakpoint($xl-bp) {
    flex-direction: column;
  }
}

.tournaments-content {
  width: 100%;
  max-width: 71.6rem;

  margin-right: 8rem;

  @include breakpoint($xl-bp) {
    max-width: unset;

    margin-right: 0;
    margin-bottom: 8rem;
  }

  @include breakpoint($sm-bp) {
    margin-bottom: 4rem;
  }
}

.tournaments-descr {
  font-size: 2.4rem;

  @include breakpoint($lg-bp) {
    font-size: 2.2rem;
  }
  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.2rem);
  }
}

.tournaments-map {
  position: relative;

  .tournaments-map__img {
    width: 100%;
    max-width: 93.7rem;
  }
}

.tmap-item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  max-width: 25.5rem;

  &:nth-child(2n) {
    .tmap-item__icon-wrapper::after {
      animation-delay: 0.5s;
    }
  }
  &:nth-child(3n) {
    .tmap-item__icon-wrapper::after {
      animation-delay: 1s;
    }
  }

  &.tmap-item_1 {
    left: 13%;
    top: 38%;
  }
  &.tmap-item_2 {
    left: 11%;
    top: 44%;
  }
  &.tmap-item_3 {
    left: 14%;
    top: 46%;
  }
  &.tmap-item_4 {
    left: 25%;
    top: 35%;
  }
  &.tmap-item_5 {
    left: 46%;
    top: 33%;
  }
  &.tmap-item_6 {
    left: 49%;
    top: 38%;
  }
  &.tmap-item_7 {
    left: 45%;
    top: 44%;
  }
  &.tmap-item_8 {
    left: 54%;
    top: 32%;
  }
  &.tmap-item_9 {
    left: 54%;
    top: 25%;
  }
  &.tmap-item_10 {
    left: 55%;
    top: 49%;
  }
  &.tmap-item_11 {
    left: 58%;
    top: 59%;
  }
  &.tmap-item_12 {
    left: 64%;
    top: 35%;
  }
  &.tmap-item_13 {
    left: 67%;
    top: 31%;
  }
  &.tmap-item_14 {
    left: 82%;
    top: 26%;
  }
  &.tmap-item_15 {
    left: 73%;
    top: 60%;
  }
  &.tmap-item_16 {
    left: 76%;
    top: 66%;
  }
  &.tmap-item_17 {
    left: 83%;
    top: 80%;
  }
  &.tmap-item_18 {
    left: 89%;
    top: 33%;
  }
  &.tmap-item_19 {
    left: 94%;
    top: 23%;
  }

  &.right {
    .tmap-item__content {
      @include breakpoint($xl-bp) {
        left: -22rem;
      }

      @include breakpoint($sm-bp) {
        left: -14rem;
      }
    }
  }
  &.left {
    .tmap-item__content {
      @include breakpoint($xl-bp) {
        left: 0;
      }
    }
  }
}

.tmap-item__icon-wrapper {
  &:hover + .tmap-item__content {
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    left: -1rem;
    top: -0.6rem;

    width: 4rem;
    height: 4rem;

    background-color: rgba(48, 69, 255, 0.38);
    border-radius: 50%;

    animation: fadeBg 1.5s ease-in-out infinite alternate-reverse;

    @include breakpoint($sm-bp) {
      display: none;
    }
  }

  &:hover::after {
    animation-play-state: paused;
  }
}

.tmap-item__icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;

  width: 2rem;
  height: 2.9rem;

  @include breakpoint($sm-bp) {
    width: 0.8rem;
    height: 1.1rem;
  }
}

.tmap-item__content {
  display: none;

  position: absolute;
  left: -12rem;
  top: -26rem;
  z-index: 3;

  width: 100%;
  max-width: 25.5rem;

  padding: 1rem;

  border: 0.25rem solid #ffffff;
  border-radius: 1.69rem 1.69rem 0 0;

  @include breakpoint($sm-bp) {
    max-width: 15rem;
    top: -15.5rem;
    left: -7rem;

    padding: 0.6rem;

    border-radius: 1rem 1rem 0 0;
  }
}

.tmap-item__img {
  width: 100%;
  height: auto;

  background: #c4c4c4;
  border-radius: 1.69rem 1.69rem 0 0;

  @include breakpoint($sm-bp) {
    border-radius: 1rem 1rem 0 0;
  }
}

.tmap-item__info {
  padding: 1.2rem 1.2rem 1.6rem;

  background-color: #fff;

  @include breakpoint($sm-bp) {
    padding: 0.7rem 0.7rem 0.9rem;
  }
}

.tmap-item__sity {
  display: flex;
  align-items: center;

  margin-bottom: 1.3rem;

  @include breakpoint($sm-bp) {
    margin-bottom: 0.7rem;
  }

  img {
    width: 1.7rem;
    height: 1.7rem;

    margin-right: 0.4rem;

    @include breakpoint($sm-bp) {
      width: 1.1rem;
      height: 1rem;
    }
  }

  p {
    font-weight: 400;
    font-size: max(10px, 1.6rem);
    color: #000;

    @include breakpoint($sm-bp) {
      font-size: max(12px, 1.2rem);
    }
  }
}

.tmap-item__place,
.tmap-item__address {
  font-weight: 400;
  font-size: max(10px, 1.2rem);
  color: #000;

  margin-bottom: 0.7rem;
  margin-left: 2.1rem;

  @include breakpoint($sm-bp) {
    font-size: max(7px, 0.7rem);

    margin-bottom: 0.4rem;
    margin-left: 1.3rem;
  }
}

@keyframes fadeBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
