.whats {
  padding: 15rem 0;

  background: #080808 url(../images/whats/whats-bg.png) no-repeat;
  background-size: cover;

  @include breakpoint($xl-bp) {
    background-position: left bottom -20rem;
  }

  @include breakpoint($lg-bp) {
    padding: 10rem 0;

    background-size: auto;
    background-position: left bottom -10rem;
  }

  @include breakpoint($sm-bp) {
    padding: 5rem 0 4rem;

    background-size: 84rem;
    background-position: left -4rem bottom -6rem;
  }
}

.whats__inner {
  display: flex;
  align-items: center;

  @include breakpoint($xl-bp) {
    flex-direction: column-reverse;
  }
}

.whats-img {
  width: 100%;
  max-width: 100rem;

  margin-right: 3rem;
  margin-top: 10rem;

  @include breakpoint($xl-bp) {
    margin-right: 0;
  }
  @include breakpoint($lg-bp) {
    margin-top: 5rem;
  }
}

.whats__heading {
  font-family: 'Russo One';
  font-weight: 400;
  font-size: 6rem;
  line-height: 1.29;
  letter-spacing: -0.035em;

  margin-bottom: 9rem;
  

  span {
    color: #ff8a00;
  }

  @include breakpoint($sm-bp) {
    font-size: 3.2rem;

    margin-bottom: 5rem;
  }
}

.whats-descr {
  font-size: 2.4rem;

  margin-bottom: 7rem;

  @include breakpoint($sm-bp) {
    font-size: max(12px, 1.2rem);

    margin-bottom: 4rem;
  }
}

.whats-link {
  width: 100%;
  max-width: 26.9rem;
  height: 7.2rem;

  font-weight: 500;
  font-size: 2.2rem;
  color: #ff8a00;

  @include breakpoint($sm-bp) {
    max-width: 12.7rem;
    height: 3.4rem;

    font-size: max(12px, 1.2rem);
  }
}
