<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer-left">
                <div class="footer-soc">
                    <a class="footer-soc__link" href="#">
                        <svg>
                            <use href="#twitter"></use>
                        </svg>
                    </a>
                    <a class="footer-soc__link" href="#">
                        <svg>
                            <use href="#tg"></use>
                        </svg>
                    </a>
                    <a class="footer-soc__link" href="#">
                        <svg>
                            <use href="#fb"></use>
                        </svg>
                    </a>
                    <a class="footer-soc__link" href="#">
                        <svg>
                            <use href="#discord"></use>
                        </svg>
                    </a>
                    <a class="footer-soc__link" href="#">
                        <svg>
                            <use href="#youtube"></use>
                        </svg>
                    </a>
                </div>
                <div class="footer-copy">
                    <p class="footer-copy__text">
                        Copyright © 2017 <span>ROMB Inc​</span>
                    </p>
                    <p class="footer-copy__trademarks">All trademarks and copyrights belong to their respective owners.​</p>
                    <p class="footer-dev">Developed by: <a href="#">AN DIGITAL GROUP</a></p>
                </div>
            </div>
            <nav class="footer-nav">
                <a href="#">Community Partnership</a>
                <a href="#">Basic Setup</a>
                <a href="#">Menu Changes</a>
                <a href="#">Portfolio Extensions</a>
                <a href="#">WordPress</a>
                <a href="#">Installation</a>
                <a href="#">Creating Posts</a>
                <a href="#">Display Blog</a>
                <a href="#">General Setup</a>
            </nav>
        </div>
    </div>
</footer>