<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="#">
                <img src="assets/images/logo.png" alt="logo">
            </a>
            <div class="header__content">
                <nav class="menu">
                    <ul class="menu__nav-list">
                        <li class="nav-list__item">
                            <a href="#opportunities" class="nav-list__item-link">About</a>
                            <svg class="hollow-btn_bg">
                                <use href="#prlm-sm"></use>
                            </svg>
                        </li>
                        <li class="nav-list__item">
                            <a href="#opportunities" class="nav-list__item-link">Token sale</a>
                            <svg class="hollow-btn_bg">
                                <use href="#prlm-sm"></use>
                            </svg>
                        </li>
                        <li class="nav-list__item">
                            <a href="#opportunities" class="nav-list__item-link">Roadmap</a>
                            <svg class="hollow-btn_bg">
                                <use href="#prlm-sm"></use>
                            </svg>
                        </li>
                        <li class="nav-list__item">
                            <a href="#opportunities" class="nav-list__item-link">Team</a>
                            <svg class="hollow-btn_bg">
                                <use href="#prlm-sm"></use>
                            </svg>
                        </li>
                        <li class="nav-list__item">
                            <a href="#opportunities" class="nav-list__item-link">Partners</a>
                            <svg class="hollow-btn_bg">
                                <use href="#prlm-sm"></use>
                            </svg>
                        </li>
                        <li class="nav-list__item">
                            <a href="#opportunities" class="nav-list__item-link">More</a>
                            <svg class="hollow-btn_bg">
                                <use href="#prlm-sm"></use>
                            </svg>
                        </li>
                        <li class="nav-list__item">
                            <a href="#opportunities" class="nav-list__item-link">En</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-soc">
                    <a href="#" class="header-soc__link">
                        <svg>
                            <use href="#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="header-soc__link">
                        <svg>
                            <use href="#tg"></use>
                        </svg>
                    </a>
                    <a href="#" class="header-soc__link">
                        <svg>
                            <use href="#discord"></use>
                        </svg>
                    </a>
                    <a href="#" class="header-soc__link">
                        <svg>
                            <use href="#youtube"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="burger-menu">
                <div class="burger"></div>
            </div>
        </div>
    </div>
</header>